<mat-sidenav-container class="mat-typography">
  <mat-sidenav #sidenav>

    <mat-toolbar color="accent">

      <img src="assets/images/logo.png" class="logo" alt="{{title}}" />

    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>credit_card</mat-icon>
        <a matLine>Pagamento</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>assignment_ind</mat-icon>
        <a matLine>Perfil</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>history</mat-icon>
        <a matLine>Histórico</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <a matLine>Sair</a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <span>
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <span>{{title}}</span>

  </mat-toolbar>

  <div class="content">

    <mat-tab-group>
      <mat-tab label="Background Sync">

        <app-post-tweet></app-post-tweet>

      </mat-tab>
      <mat-tab label="Push Notifications">

        <app-control-push></app-control-push>

      </mat-tab>
    </mat-tab-group>

    <app-tweet-feeds></app-tweet-feeds>

  </div>

</mat-sidenav-container>