#profile {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-left: 55px;
}

#logo-header {
    margin-left: 50px;
    color: black;
    width: 139px;
    height: 36px;
}

#icon-menu {
    width: 35px;
    height: 35px;
}